body {
    width: 100%;
    height: 100vh;
    background-color: #E1C7A2;
}

.header {
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    justify-content: space-between;
}

.logo {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerText {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    width: 100%;
    height: 80vh;
}

.navBar {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.ganres {
    display: flex;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    flex-direction: column;
}

.ganre {
    margin: 4px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
}

#create-book,
.home,
.exit {
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

#create-book:hover {
    background-color: #986C41;
}

.exit:hover {
    background-color: #986C41;
}

.home:hover {
    background-color: #986C41;
}

.ganre:hover {
    background-color: #986C41;
}

.ganre:first-child {
    margin-top: 0px;
}

.ganre:last-child {
    margin-bottom: 0px;
}

.ganres::-webkit-scrollbar {
    display: none;
    overflow-y: hidden;
}

.content::-webkit-scrollbar {
    display: none;
}

.content {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-color: #F2EBE3; */
    overflow-y: scroll;
    border-radius: 20px;
}