.header {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: coral;
}

.main {
    display: flex;
    width: 100%;
    height: 90vh;
}

nav {
    display: flex;
    width: 20%;
    height: 100%;
    background-color: burlywood;
    overflow-y: scroll;
}

.content {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    overflow-y: scroll;
}